<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geocoder</title>
    <link href="../static/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Geocoder</h1>
        <h3>Please upload your CSV file.</h3>
        <h4>Values containing addresses should be in a column titled <i>Address</i> or <i>address</i>.</h4>
        <div class="text">{{ text | safe }}</div>
        <form method="POST" action="{{url_for('geocode')}}">
            <input required type="file" name="file" enctype="multipart/form-data"><br>
            <button type="submit">Submit</button>
        </form>
    {% block geocode %}
    {% endblock geocode %}
    </div>
</body>
</html>