<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Collector</title>
    <link href="../static/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Collecting height</h1>
        <h3>Please fill the form to get statistics on height</h3>
        <div class="message">{{ message | safe }}</div>
        <form method="POST" action="{{url_for('success')}}" enctype="multipart/form-data">
            <input name="file" type="file"><br>
            <button type="submit">Submit form</button>
        </form>
        {% include btn ignore missing %}
    </div>
</body>
</html>